<div id="<%= dom_id cliente %>">
  <p>
    <strong>Name:</strong>
    <%= cliente.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= cliente.email %>
  </p>

  <p>
    <strong>Whatsapp:</strong>
    <%= cliente.whatsapp %>
  </p>

  <p>
    <strong>Contacto:</strong>
    <%= cliente.contacto %>
  </p>

</div>
