<div id="<%= dom_id cotizacion_dll %>">
  <p>
    <strong>Cliente:</strong>
    <%= cotizacion_dll.cliente_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= cotizacion_dll.user_id %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= cotizacion_dll.job_id %>
  </p>

  <p>
    <strong>Factura:</strong>
    <%= cotizacion_dll.factura_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= cotizacion_dll.status %>
  </p>

</div>
