<p style="color: green"><%= notice %></p>

<%= render @cotizacion_dll %>

<div>
  <%= link_to "Edit this cotizacion dll", edit_cotizacion_dll_path(@cotizacion_dll) %> |
  <%= link_to "Back to cotizacion dlls", cotizacion_dlls_path %>

  <%= button_to "Destroy this cotizacion dll", @cotizacion_dll, method: :delete %>
</div>
