<%= form_with(model: factura) do |form| %>
  <% if factura.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(factura.errors.count, "error") %> prohibited this factura from being saved:</h2>

      <ul>
        <% factura.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cliente_id, style: "display: block" %>
    <%= form.text_field :cliente_id %>
  </div>

  <div>
    <%= form.label :total, style: "display: block" %>
    <%= form.text_field :total %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
