<div id="<%= dom_id proveedor %>">
  <p>
    <strong>Name:</strong>
    <%= proveedor.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= proveedor.email %>
  </p>

  <p>
    <strong>Whatsapp:</strong>
    <%= proveedor.whatsapp %>
  </p>

  <p>
    <strong>Contacto:</strong>
    <%= proveedor.contacto %>
  </p>

</div>
