<div id="<%= dom_id cotizacion_mn %>">
  <p>
    <strong>Cliente:</strong>
    <%= cotizacion_mn.cliente_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= cotizacion_mn.user_id %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= cotizacion_mn.job_id %>
  </p>

  <p>
    <strong>Factura:</strong>
    <%= cotizacion_mn.factura_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= cotizacion_mn.status %>
  </p>

</div>
