<%= form_with(model: cotizacion_mn) do |form| %>
  <% if cotizacion_mn.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cotizacion_mn.errors.count, "error") %> prohibited this cotizacion_mn from being saved:</h2>

      <ul>
        <% cotizacion_mn.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cliente_id, style: "display: block" %>
    <%= form.text_field :cliente_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :job_id, style: "display: block" %>
    <%= form.text_field :job_id %>
  </div>

  <div>
    <%= form.label :factura_id, style: "display: block" %>
    <%= form.text_field :factura_id %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
